# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:** Unordered List
1. Scala
2. Java
3. C++
4. PHP
5. Julia

Some of the popular languages that Data Scientists use are:

Ordered list
1. Phython
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

Ordered list
1. Pandas
2. TensorFlor
3. SciPy

| Data Science Tools |
|--------------------|
| 1. Apache Hadoop |
| 2. Apache Spark |
| 3. Apache Flink |

### Below are a few examples of evaluating arithmetic expressions in Python

In [29]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [54]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Harshpati Saklani